{% extends 'base.html' %} {% block cuerpo %}
<div class="container">
  <form>
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="ape_paterno" class="form-label">Ap. Paterno</label>
      <input
        type="text"
        class="form-control"
        id="ape_paterno"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="ape_materno" class="form-label">Ap. Materno</label>
      <input
        type="text"
        class="form-control"
        id="ape_materno"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="correo" class="form-label">Correo</label>
      <input
        type="email"
        class="form-control"
        id="correo"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="num_emergencia" class="form-label">Num. Emergencia</label>
      <input
        type="number"
        class="form-control"
        id="num_emergencia"
        aria-describedby="emailHelp"
      />
    </div>
    <!-- En el formulario de agregar alumno, agregar un input para el curso, en ese input debe ser un dropDown o un checkBox en el cual se muestre todos los cursos que hay en la base de datos. Al momento de crear el alumno enviar en el body el curso_id con el id del curso seleccionado. NOTA: El curso es opcional  -->
    <div class="mb-3">
      <label for="curso" class="form-label">Curso</label>
      <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        {# El value debe ser el id de se curso en l base de datos #}
        <option value="1">1</option> 
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" id="btn_agregar">
      Agregar
    </button>
  </form>
</div>
{% endblock %}
{% block scripts %}
{# <script src="../static/js/agregar_alumno.js"></script> #}
{# para agregar archivos js, css o imágenes es recomnedable utilizar el stament url_for en el cual se indica qué tipo de archivo y además su nombre de archivo #}
<script src="{{ url_for('static', filename='js/agregar_alumno.js') }}"></script>
{% endblock %}